@use "variables" as *;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 75%;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  //   height: 100%;
  font-family: $fontFamily;
}

.container {
  width: 100%;
  //   min-height: 33rem;
}

.content-container {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  padding-left: 4rem;
  gap: 11rem;
  //   max-width: 70rem;
}
