@use "variables" as *;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 75%;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  //   height: 100%;
  font-family: $fontFamily;
}

.container {
  width: 100%;
  //   min-height: 33rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 10rem;
  justify-content: space-between;
  align-items: center;
  gap: 28rem;
  border-bottom: 2px solid hsla(210, 3%, 42%, 0.185);
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $darkGrayBlue;
  gap: 4.5rem;
}

.logo {
  width: 35%;
  max-height: 4rem;
  padding-right: 2rem;
}

.links {
  text-decoration: none;
  color: $darkGrayBlue;
  font-size: 1.5em;
  font-family: $fontFamily;
}

.links:hover {
  color: black;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.cart {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 2rem;
  cursor: pointer;
}

.cart:hover svg {
  fill: black;
}

.avatar {
  width: 5rem;
  cursor: pointer;
  box-sizing: border-box;
}

.avatar:hover {
  width: 5rem;
  outline: 0.2rem solid orange;
  border-radius: 3rem;
}

.content-container {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  padding-left: 4rem;
  gap: 13rem;
  //   max-width: 70rem;
}

.big-images {
}

.big-sneaker {
  border-radius: 2rem;
  width: 100%;
  height: 44rem;
}

.small-images {
  display: flex;
  padding-top: 2rem;
  gap: 1.5rem;
}

.small-sneaker {
  border-radius: 2rem;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

.small-sneaker:hover {
  opacity: 30%;
}

.details {
  display: flex;
  flex-direction: column;
  max-width: 43rem;

  h1 {
    font-size: 1.4rem;
    color: hsl(26, 100%, 64%);
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-weight: 700;
  }

  h3 {
    font-size: 4rem;
    color: $veryDarkBlue;
    padding-bottom: 3rem;
  }

  > p {
    font-size: 16px;
    color: $darkGrayBlue;
    padding-bottom: 4rem;
    line-height: 1.8;
  }
}

.prices {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  width: 20rem;

  p {
    &:first-child {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1;
    }
    &:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      font-weight: 700;
      color: $orange;
      background-color: hsl(26, 100%, 91%);
      width: 5rem;
      border-radius: 0.4rem;
      min-height: 2.5rem;
    }

    &:nth-child(3) {
      font-size: 1.5rem;
      color: $grayBlue;
      text-decoration: line-through;
      font-weight: 700;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  // cursor: pointer;
  min-height: 8.5rem;
}

.minusplus-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 1.4rem;
  text-decoration: none;
  border: none;
  width: 6.5rem;
  min-height: 4rem;
  background-color: $lightGrayBlue;
  border-radius: 0.4rem 0 0 0.4rem;
  cursor: pointer;
}

.minus svg {
  fill: color;
}

.minusplus-btn:hover svg {
  fill: hsl(26, 100%, 77%);
}

.plusminus-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1.4rem;
  text-decoration: none;
  border: none;
  width: 6.5rem;
  min-height: 4rem;
  background-color: $lightGrayBlue;
  border-radius: 0 0.4rem 0.4rem 0;
  cursor: pointer;
}

.plusminus-btn:hover svg {
  fill: hsl(26, 100%, 77%);
}

.plus {
  fill: red;
}

.count {
  display: flex;
  align-items: center;
  width: 2rem;
  justify-content: center;
  background-color: $lightGrayBlue;
  min-height: 4rem;
  // cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: none;
  margin-left: 3rem;
  background-color: $orange;
  color: $white;
  width: 24rem;
  border-radius: 0.8rem;
  font-family: $fontFamily;
  font-weight: 700;
  cursor: pointer;
}

.cart-btn:hover {
  background-color: hsl(26, 100%, 77%);
}

.cart2 {
  width: 1.5rem;
  // padding-right: rem;
}
