@use "variables" as *;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: $fontFamily;
}

.container {
  width: 100%;
}

.header-container {
}

.imgcontent-container {
}
