@use "variables" as *;

.big-sneaker {
  border-radius: 1.5rem;
  width: 100%;
  height: 44rem;
  cursor: pointer;
}

.small-images {
  display: flex;
  padding-top: 2rem;
  gap: 1.5rem;
}

.small-images img:hover {
  opacity: 0.6;
}

.small-sneaker {
  display: block;
  border-radius: 1.5rem;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

.small-sneaker:hover {
  opacity: 0.6;
}

.small-sneaker.selected {
  opacity: 0.4;
}

.outlined {
  outline: 0.2rem solid $orange;
  border-radius: 1.5rem;
}
