$orange: hsl(26, 100%, 55%); // use for button, letters and more
$paleOrange: hsl(25, 100%, 94%); // background
$veryDarkBlue: hsl(220, 13%, 13%); // Letters, Numbers and more
$darkGrayBlue: hsl(219, 9%, 45%);
$grayBlue: hsl(220, 14%, 75%);
$lightGrayBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$blackOpacity: hsl(0, 0%, 0%); // filter shadow after picture click. 70% opacity

$fontFamily: "Kumbh Sans", sans-serif;
